{% extends "base.html" %}

{% block content %}
  <section class="featured attractions">
    <h1>Featured Attractions</h1>
    <div class="featured-attractions-cards">
      <p class="eyebrow">Parks and Nature</p>
      <h2>Piedmont Park: Where Nature meets Recreation</h1>
      <p>Immerse yourself in Atlanta's nature through scenic lake views, vibrant botanical spaces, and plenty of trails to absorb yourself in the great outdoors.  </p>
      <span class="placeholder-label">Learn More</span>
      <figure class="placeholder-photo">
      <img src=">
    </div>
    </div>
     <div class="featured-attractions-cards">
      <p class="eyebrow">Art and Culture</p>
      <h2>The High Museum of Art:Atlanta's Artistic Hub</h1>
      <p>Unearth a world of creativity at the High where inspiring exhibitions, vibrant collections, and lively shows help bring Atlanta's art history to life.  </p>
      <span class="placeholder-label">Learn More</span>
        <figure class="placeholder-photo">
      <img src=">
    </div>
    
    </figure>
  </section>
{% endblock %}
